# Homework 1

In this homework, you'll be creating your own function to perform a mathematical operation on a data frame that you import from an Excel spreadsheet.

1. Import the `numpy` and `pandas` libraries.

In [1]:
import numpy as np
import pandas as pd

2. Import the spreadsheet `covid_worldwide.csv`, which reports COVID cases and fatalities for each country worldwide (adapted from [Kaggle](https://www.kaggle.com/datasets/themrityunjaypathak/covid-cases-and-deaths-worldwide?resource=download)) and store that information into a variable called `data`. Please use the column called "Country" (i.e. the second column from the left) as your index column. Then use `data.head()` to show the start of the data frame.

**Hint:** The function `pandas.read_csv()` reads in .csv files, and you can use it in a similar way as we did with `pandas.read_excel()` to read in Excel files in class.

In [2]:


file_path = r"C:\Users\Kathleen\OneDrive\Documents\Bioinformatics Spring 2024\Homework\Homework 1\covid_worldwide.csv"
data = pd.read_csv(file_path, index_col="Country")

data.head()

,Continent,Total Cases,Total Deaths,Total Recovered,Active Cases,Total Test,Population
Country,,,,,,,
USA,North America,104196861,1132935,101322779,1741147,1.159833e+09,334805269
India,Asia,44682784,530740,44150289,1755,9.152658e+08,1406631776
France,Europe,39524311,164233,39264546,95532,2.714902e+08,65584518
Germany,Europe,37779833,165711,37398100,216022,1.223324e+08,83883596
Brazil,South America,36824580,697074,35919372,208134,6.377617e+07,215353593

3. Define a function called `geom_mean3` that accepts as input an ndarray with 3 elements, calculates the geometric mean of the elements of the array, and outputs the resulting geometric mean value.

**Hints**: The geometric mean formula can be found [here](https://byjus.com/geometric-mean-formula/), and the *n*th root of a value is equivalent to calculating the exponent of (1/*n*).

In [5]:


def geom_mean3(arr):
    product = np.prod(arr)
    geometric_mean = product ** (1/len(arr))
    return geometric_mean

In essence, the 'geom_mean3' function calculates the geometric mean of a list or an array of numbers by multiplying all the numbers together to find their product and then taking the nth root of this product, where n is the total number of numbers. The geometric mean is a type of average that is particularly useful when dealing with products or percentages and represents the central tendency or typical value of a set of numbers by using the product of their values.

4. Create a variable called `Top3Deaths` to store as an ndarray the values of "Total Deaths" from the countries represented in the first 3 rows. The first element in the ndarray will be the number of total deaths from the country in the first row of the data frame, the second element in the ndarray will be the number of total deaths from the country in the second row, etc.
**Hints**: You will likely need to slice a subset from the data frame using `.iloc[]` or `.loc[]`, and also use `.to_numpy()`

In [6]:
Top3Deaths = data.iloc[:3]['Total Deaths'].to_numpy()

This snippet of code is taking a DataFrame named 'data', selecting the first three rows, narrowing this selection down to the column labeled 'Total Deaths', and converting the resulting Series of total deaths for the top three entries into a NumPy array. The resulting NumPy array is then stored in the variable Top3Deaths. This could be used for subsequent analysis or computations where working with NumPy arrays is preferable or necessary.

5. Use the function that you created in question 3 to calculate the geometric mean of the values in Top3Deaths.

In [7]:
geometric_mean = geom_mean3(Top3Deaths)
geometric_mean

462220.36905394105