# Homework 2

For this homework, you will need to import the file: `covid_worldwide.csv`.

In [1]:
import math
import numpy as np
import pandas as pd
import scipy 
from scipy import stats
import statsmodels.stats.multitest as smm
import statsmodels.stats.nonparametric as nonparam 
from statsmodels.formula.api import ols

In [2]:
import pandas as pd # A way to bring in Data

file_path = r"C:\Users\Kathleen\OneDrive\Documents\Bioinformatics Spring 2024\Homework\Homework 2\covid_worldwide.csv"
data = pd.read_csv(file_path)

In [3]:
# import covid data to the variable "data"
data = pd.read_csv("covid_worldwide.csv", index_col=0)
data.head()

,Continent,Total Cases,Total Deaths,Total Recovered,Active Cases,Total Test,Population
Country,,,,,,,
USA,North America,104196861,1132935,101322779,1741147,1.159833e+09,334805269
India,Asia,44682784,530740,44150289,1755,9.152658e+08,1406631776
France,Europe,39524311,164233,39264546,95532,2.714902e+08,65584518
Germany,Europe,37779833,165711,37398100,216022,1.223324e+08,83883596
Brazil,South America,36824580,697074,35919372,208134,6.377617e+07,215353593

1. Add a new column to the data frame called "Proportion_Fatality," the contents of which you will calculate as the ratio of the total deaths for each country relative to the population of that country. Then use `.head()` to show the new version of the data frame that you have created.

In [4]:
data['Proportion_Fatality'] = data['Total Deaths'] / data['Population']
data.head()

,Continent,Total Cases,Total Deaths,Total Recovered,Active Cases,Total Test,Population,Proportion_Fatality
Country,,,,,,,,
USA,North America,104196861,1132935,101322779,1741147,1.159833e+09,334805269,0.003384
India,Asia,44682784,530740,44150289,1755,9.152658e+08,1406631776,0.000377
France,Europe,39524311,164233,39264546,95532,2.714902e+08,65584518,0.002504
Germany,Europe,37779833,165711,37398100,216022,1.223324e+08,83883596,0.001975
Brazil,South America,36824580,697074,35919372,208134,6.377617e+07,215353593,0.003237

2. Use `.describe()` to calculate the mean and the quartiles for "Total Cases," "Total Deaths," "Total Recovered," "Active Cases," and "Proportion_Fatality"

In [7]:
data[['Total Cases', 'Total Deaths', 'Total Recovered', 'Active Cases', 'Proportion_Fatality']].describe()

,Total Cases,Total Deaths,Total Recovered,Active Cases,Proportion_Fatality
count,1.980000e+02,1.980000e+02,1.980000e+02,1.980000e+02,198.000000
mean,3.281692e+06,3.330404e+04,3.150983e+06,9.740541e+04,0.001264
std,1.012444e+07,1.117357e+05,9.778318e+06,7.927596e+05,0.001303
min,3.427000e+03,1.000000e+00,4.380000e+02,0.000000e+00,0.000003
25%,3.767825e+04,3.112500e+02,3.386625e+04,8.225000e+01,0.000176
50%,2.920560e+05,3.105500e+03,2.861005e+05,1.323000e+03,0.000836
75%,1.669268e+06,1.671000e+04,1.648560e+06,1.153650e+04,0.001981
max,1.041969e+08,1.132935e+06,1.013228e+08,1.095262e+07,0.006500

3. Use `groupby` to calculate the mean values of "Total Cases," "Total Deaths," "Total Recovered," "Active Cases," and "Proportion_Fatality" for each continent. Which continent had the highest proportion fatality?

In [7]:
mean_values = data.groupby('Continent').mean()[['Total Cases', 'Total Deaths', 'Total Recovered', 'Active Cases', 'Proportion_Fatality']]
highest_fatality_continent = mean_values.sort_values('Proportion_Fatality', ascending=False).iloc[0].name

print(f"The continent with the highest proportion fatality is {highest_fatality_continent}")

The continent with the highest proportion fatality is Europe

4. Calculate the standard deviation for the "Total Deaths" for North America and South America, and test whether the distributions for the total deaths in North America and South America resemble a normal distribution. Based on these outcomes, would a Student's t-test be the best statistical test for assessing whether the number of Total Deaths is significantly different between North vs. South America? If not, what test should be used to assess whether or not the number of Total Deaths is significantly different between North vs. South America?

(**Hint:** for the purposes of this homework, let's say that standard devations within 2-fold are considered pretty similar).

In [10]:
from scipy.stats import shapiro 

north_america_deaths = data.loc[data['Continent'] == 'North America', 'Total Deaths']
south_america_deaths = data.loc[data['Continent'] == 'South America', 'Total Deaths']

north_america_std = north_america_deaths.std()
south_america_std = south_america_deaths.std()

print(f"Standard Deviation for Total Deaths in North America: {north_america_std}")
print(f"Standard Deviation for Total Deaths in South America: {south_america_std}")

_, p_value_north = shapiro(north_america_deaths)
_, p_value_south = shapiro(south_america_deaths)

print(f"p-value for Shapiro-Wilk test in North America: {p_value_north}")
print(f"p-value for Shapiro-Wilk test in South America: {p_value_south}")

Standard Deviation for Total Deaths in North America: 224070.34750297182
Standard Deviation for Total Deaths in South America: 176310.6509572309
p-value for Shapiro-Wilk test in North America: 2.0624363703873938e-10
p-value for Shapiro-Wilk test in South America: 4.137254045992115e-06

5. Perform the statistical test of choice to compare the number of Total Deaths between North America and South America (**Hint:** you'll want to select either t-test or Mann-Whitney U-test, depending on your answer from number 4). What is the resulting p-value? Are the number of Total Deaths statistically significantly different between North vs. South America?

In [9]:
from scipy.stats import mannwhitneyu

# Perform Mann-Whitney U-test
statistic, p_value = mannwhitneyu(north_america_deaths, south_america_deaths)

print(f"The p-value for the Mann-Whitney U-test is: {p_value}")

The p-value for the Mann-Whitney U-test is: 0.013799694766113056